body{
  background-color:#000000;
  font-family:Playfair Display,poppins;
color:#59CCFA;
}
header {
 background:#CADCE8;
  text-align:center;
color:#000000;
}
#sobre mim{
  font-family:courier;
  color: #18DE34
}
nav a{
 color:#000000;
 text-decoration:none;
 font-size: 19px;
}
footer{
  text-align: center;
  background: #84FAE9;
  color:black;
}